/* Base on https://gitlab.com/eliggett/wfview/-/blob/master/qdarkstyle/style.qss?ref_type=heads */

QWidget {
    color: white;
    background-color: rgb(50, 50, 50);
    selection-background-color: rgba(0,0,139,127);
    /* selection-color: white; */
    /* background-clip: border;
    border-image: none;
    border: 0px transparent black;
    outline: 0; */
}

QWidget:item:hover {
    background-color: blue;
    /* color: white; */
}

QWidget:item:selected {
    /* color: white; */
    background-color: darkblue;
}

QTableView {
    border: 1px solid rgb(13, 13, 13);
    gridline-color: rgb(20,20,20);
    background-color: rgb(23,23,23);
}

/* QHeaderView {
    background-color: rgb(50,50,50);
} */

QHeaderView::section {
    background-color: rgb(50,50,50);
}

QTabWidget {
    border: 0px transparent black;
}

QTabWidget::tab-bar {
    alignment: center;
}

QTabWidget::pane {
    background: rgb(57,57,57);
    border: 1px solid rgb(74, 74, 74);
}

QTabBar::tab:selected {
    background-color: rgb(57,57,57);
    font: bold;
    border: 0px transparent black;
    /* border: 1px solid rgb(91,91,91); */
}

QTabBar::tab:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */
    background-color: rgb(101, 101, 101);
    /* border: 1px solid rgb(91,91,91); */
}

QLineEdit {
    background-color: rgb(34, 34, 34);
    border: 1px rgb(46, 46, 46);
}

QAbstractSpinBox {
    background-color: rgb(34, 34, 34);
    border: 1px rgb(46, 46, 46);
}

QTableView {
    border: 1px solid rgb(13, 13, 13);
    background-color: rgb(23,23,23);
}

QTextEdit {
    border: 1px solid rgb(13, 13, 13);
    background-color: rgb(23,23,23);
}

QPlainTextEdit {
    border: 1px solid rgb(13, 13, 13);
    background-color: rgb(23,23,23);
}

QScrollBar {
    border: 1px transparent #2A2929;
    background-color: #2A2929;
}